.Tip{
  background-color: rgb(214, 214, 214);
  margin: 10px;
  /* display: inline-block; */
  flex-wrap: wrap;
  padding: 20px;
  min-width: 20px;
  max-width: 25vw;

  justify-content: center;
  border-radius: 16px;
}