.Tips{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.VoiceButton{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.VoiceHelper{
  transform: scale(1); 
  transition: 0.45s all ease;
  background: linear-gradient(#DDECE0, #EFE0BA);
  height: 100vh;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.white{
  width: 100px;
  height: 100px;
  background-color: saddlebrown;
}

.Helper{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.Helper > div > img{
  width:  120px;
  height: 100px;
}

.Communication{
  scroll-behavior:smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(204, 197, 187, 0.397);
  width: 80vw;
  margin: 0 20px;
  padding: 20px 0;
  padding-bottom: 40px;
  border-radius: 16px;
}

.sound-wave{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.Speak{
  margin: 20px;
  font-size: 32px;
}

.Messages{
  overflow-y: scroll;
  width: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  width: 95%;
}