@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pacifico&display=swap');


*{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
button.default-nav{
  display: none;
  z-index: -404;
}